
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text"  class="form-control"  name="first_name" value="{{this.first_name}}" placeholder="First Name" id="floatingInput">
        <label for="floatingInput">First Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text"  class="form-control"  name="last_name" value="{{this.last_name}}" placeholder="Last Name" id="floatingInput">
        <label for="floatingInput">Last Name</label>
    </div>
</div>


<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email"  class="form-control"  name="email" value="{{this.email}}" placeholder="email@email.com" id="floatingInput">
        <label for="floatingInput">Email</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text"  class="form-control"  name="phone" value="{{this.phone}}" placeholder="Phone" id="floatingInput">
        <label for="floatingInput">Phone</label>
    </div>
</div>

<div class="col-12">
    <label for="exampleFormControlTextarea1">Comment</label>
    <textarea type="text"  class="form-control"  name="comments" value="" placeholder="Comment">{{this.comments}}</textarea>
</div>


<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
